@model IEnumerable<Bissues.Models.Bissue>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class = "card">
        <a asp-controller="Bissues" asp-action="Details" asp-route-id="@item.Id" class = "btn text-left text-decoration-none">
            <div class="card-body">
                <p class="card-title"><b>@item.Title</b> 
                    @if(item.IsOpen)
                    {
                        <span class="text-success">Open</span>
                    }
                    else
                    {
                        <span class="text-danger">Closed</span>
                    }
                </p>
                <p class="card-text">@item.Description</p>
                <footer>Project: @item.Project.Name</footer>
            </div>
                
        </a>
    </div>
}