@model Bissues.Models.OfficialNote

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OfficialNote</h4>
<hr />
<div class="row justify-content-md-center">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BissueId" class="control-label"></label>
                <select asp-for="BissueId" class ="form-control" asp-items="ViewBag.BissueId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CommitId" class="control-label"></label>
                <input asp-for="CommitId" class="form-control" />
                <span asp-validation-for="CommitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommitURL" class="control-label"></label>
                <input asp-for="CommitURL" class="form-control" />
                <span asp-validation-for="CommitURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea rows="10" asp-for="Note" class="form-control"  spellcheck="true"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
