@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

@model Bissues.Models.Bissue
@{
    ViewData["Title"] = "Edit";
    var users = await UserManager.GetUsersInRoleAsync("Developer");
    
}

<h1>Edit</h1>

<h4>Bissue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="EditBissue" >
            @Html.AntiForgeryToken()
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ProjectId" />
            <input type="hidden" asp-for="AppUserId" />
            <input type="hidden" asp-for="CreatedDate" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" spellcheck="true" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <select asp-for="Label" class="form-control" asp-items="Html.GetEnumSelectList<BissueLabel>()" ></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" spellcheck="true"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOpen" /> @Html.DisplayNameFor(model => model.IsOpen)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AssignedDeveloperId"></label>
                <select asp-for="AssignedDeveloperId" class="form-control" asp-items='@(new SelectList(users, "Id", "DisplayName"))'>
                    <option disabled selected>--- SELECT IF BUG ---</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Bissues">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
