@model Bissues.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="col-md-10">
        <h1 class="display-4">Welcome to</h1>
        <img src="~/img/logo2.svg" width="50%" height="50%" />
        <p class="mt-3">
            Bissues is a Bug and Issue tracker, developed for a course project 
            at Champlain College.
        </p>
    </div>
        <hr/>
        <h4>Recent Bissues</h4>
        @foreach (var bissue in Model.Bissues)
        {
            <div class = "card mb-2">
                <a asp-controller="Bissues" asp-action="Details" asp-route-id="@bissue.Id" class = "btn text-left text-decoration-none">
                    <div class="card-body">
                        <p class="card-title"><b>@bissue.Title</b> 
                            @if(bissue.IsOpen)
                            {
                                <span class="text-success">Open</span>
                            }
                            else
                            {
                                <span class="text-danger">Closed</span>
                            }
                        </p>
                        <p class="card-text">@bissue.Description</p>
                        <footer>Project: @bissue.Project.Name</footer>
                    </div>
                </a>
            </div>
        }


