/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
  --primary-bg-color: #2a4d69;
  --primary-fg-color: #e7eff6;
  --secondary-bg-color: #63ace5;
  --secondary-fg-color: #adcbe3;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: var(--secondary-fg-color);
}

.text-stupid {
  color: var(--secondary-fg-color);
}

.text-light {
  color: var(--primary-fg-color);
}

.btn-primary {
  color: var(--primary-fg-color);
  background-color: var(--secondary-bg-color);
  border-color: var(--secondary-bg-color);
}

.btn-outline-primary {
  color: var(--primary-bg-color);
  background-color: var(--primary-fg-color);
  border-color: var(--secondary-bg-color);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid var(--primary-fg-color);
}
.border-bottom {
  border-bottom: 1px solid var(--primary-fg-color);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background-color: var(--primary-bg-color) !important;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: var(--primary-bg-color) !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* New line, carriage return, line feed, for descriptions. */
.description {
  white-space: pre-line;
}

hr { 
  background-color: var(--secondary-bg-color);
  height: 1px;
  border: 0;
}